body {
  font-family: Arial, Helvetica, sans-serif;
}

.card img {
  width: 30%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
  font-weight: 300;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

nav a.active {
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  color: black !important;
}

@media only screen and (max-width: 600px) {
  .card img {
    width: 60%;
  }
  .card-collection {
    grid-template-columns: 1fr;
  }
}
